@font-face {
    font-family: "Block";
    src: url("Block Berthold Condensed.otf") format("otf");
}

canvas {
    width: 100vw;
    height: 10vh;
}

body {
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: "Block";
    font-size: 13px;
    line-height: 24px;
    overscroll-behavior: none;
    overflow-x: hidden;
     background:
        radial-gradient(at center, #bc2e41, #2c4e90);
}

a {
    color: palegreen;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: white;
}

button {
    cursor: pointer;
    text-transform: uppercase;
}

.dust {
    position: absolute;
}

.hours {
    font-size: 20px;
    position: absolute;
    right: 2.5vh;
    top: 2.5vh;
    color: white;
    font-family: "Block";
    z-index: 20;
    display: none;
    border: 1px white solid;
    padding: 8px;
    border-radius: 20px;
}

.catalog {
    display: flex;
        border: 1px solid transparent;
        padding: 7px;

}

.catalog div {
    flex: 1;
}

.catalog:hover {
    border-radius: 50px;
    border: 1px solid white;
    color: palegreen;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
}


.restart {
    position: absolute;
    right: 2.5vh;
    bottom: 0vh;
    cursor: pointer;

    z-index: 20;
}

.round {
    transform: rotate(0deg);
    transition: transform 0.5s;
    filter: invert(100%);
}

.round:hover {
    transform: rotate(360deg);
}

.inside {
    display: none;
}

.scaledo {
    transform: scale(1.0);
    transition: transform 0.5s;
    cursor: pointer;
}

.scaledo:hover {
    transform: scale(0.9);

}


.scaleup {
    transform: scale(1.0) translate(-50%, -50%) rotate(0deg);
    transition: transform 2s;
    cursor: pointer;
}

.scaleup.inv:hover {
    transform: scale(1.5) translate(-50%, -50%) rotate(-45deg);
}

.scaleup:hover {
    transform: scale(1.5) translate(-50%, -50%) rotate(45deg);
    transition: transform 30s;
    z-index: 5;

}

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    padding-bottom: 0px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn img {}

.dropdown {
    font-family: "Block";
    position: relative;
    display: inline-block;
    z-index: 1201;

}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 500px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 7px 16px;
    font-size: 25px;
    text-decoration: none;
    display: block;
    font-family: "Block";
    opacity: 1;
        width: fit-content;
        border-radius: 20px;
    border: transparent 1px solid;

}

.audi {
    position: fixed;
    bottom: 0;
    width: 100vw;
    left: 0;
}

.sound {
    width: 30px;
    position: absolute;
    top: 15px;
    left: 60px;
    cursor: pointer;
    z-index: 800;
        fill: white;
}

svg {
    fill: white;
}

svg:hover {
    fill: palegreen;
}

.sound:hover {
    fill: palegreen;
}

.sound > .eteint {
    display: block;
}


.sound.on > .eteint {
    display: none;
}


.sound > .allume {
    display: none;
}


.sound.on > .allume {
    display: block;
}

.PlayPause > .stoping {
    display: block;
}


.PlayPause.on > .stoping {
    display: none;
}


.PlayPause > .playing {
    display: none;
}


.PlayPause.on > .playing {
    display: block;
}

.dropdown-content a:hover {
    border: white 1px solid;
    background-color: rgba(255, 255, 255, 0.1);
    color: palegreen;


}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: white;
}

.radial-gradient {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;

    /*Fallback if gradeints don't work */
    background: #9b59b6;
    /*Linear gradient... */
    background:
        radial-gradient(at center, #bc2e41, #2c4e90);
    z-index: -1;
}

.fond {
    background: #9b59b6;
    /*Linear gradient... */
min-height: 100vh;
        width: 100vw;

}



.textbig, .titlebig {
    font-size: 25px;
    max-width: 800px;
    padding-left: calc(350px + 8vw);
    padding-bottom: 5vw;
    line-height: 28px;
    padding-right: 5vw;
}

.titlebig {
        padding-top: 5vw;
    font-size: 50px;
    padding-bottom: unset;
    line-height: 50px;
}

.linear-gradient {
    background: linear-gradient(#bc2e41, #2c4e90);
}

#info {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    z-index: 1;
    /* TODO Solve this in HTML */
}

a,
button,
input,
select {
    pointer-events: auto;
}

.dg.ac {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 2 !important;
    /* TODO Solve this in HTML */
}

#overlay {
    position: absolute;
    font-size: 16px;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.7);
}

#overlay button {
    background: transparent;
    border: 0;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
    color: #ffffff;
    padding: 12px 18px;
    text-transform: uppercase;
    cursor: pointer;
}

#notSupported {
    width: 50%;
    margin: auto;
    background-color: #f00;
    margin-top: 20px;
    padding: 10px;
}


/* The Modal (background) */
.modal {
    display: block;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 900;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5);
    /* Fallback color */
    /*background-color: rgba(0,0,0,0.8);  Black w/ opacity */
}

/* Modal Content */
.modal-content {
    margin: auto;
    padding: 20px;
    border: 1px solid white;
    width: 80%;
    min-height: 40vh;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50px;
    transform: translateY(17%);
    background-color: rgba(255, 255, 255, 0.2);
}

.modal-content div {
    width: 600px;
    margin: auto;
    margin-top: 20px;
}

.enterWeb {
    color: white;
    background: transparent;
    font-size: 50px;
    padding: 12px;
    margin: 20px;
    border: 1px solid transparent;
}


.enterWeb:hover {
    border-radius: 50px;
    border: 1px solid white;
color: palegreen;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.insidemenu {
    padding-left: 6vw;
    padding-top: 102px;
    display: block;
}

.insidemenu.home {
    display: none;
}

.mobile {
    display: none;
}

.caty::-webkit-scrollbar {
  width: 10px;
  border-radius: 50px;
}

/* Track */
.caty::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2); 
}
 
/* Handle */
.caty::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2); 
}

/* Handle on hover */
.caty::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5); 
}

.caty {
    height:75vh; 
    overflow: auto; 
    padding-bottom: unset;
}

.ecoute {
    color: palegreen;
}

.ecoute:hover {
    border: 1px transparent solid;
    background: none;
    cursor: default;
}

@media screen and (max-width: 980px) {

    .modal-content {
        margin-top: 4vh;
        transform: none;
        height: 87vh;
    overflow: auto
    }

    .modal-content div {
        width: 100%;
font-size: 26px;
    line-height: 27px;

    }

.caty {
    height:42vh; 
    margin-bottom: 9vh;
}

.catalog {
    flex-direction: column;
}

    .enterWeb {
    /* margin: unset; */
    position: absolute;
    /* padding: 20px; */
    bottom: 40px;
    border-color: white;
    border-radius: 50px;
    left: 50%;
    margin-left: unset;
    transform: translateX(-50%);
    color: palegreen;
        }

.insidemenu {
    padding-left: unset;
    padding-top: unset;
    display: unset;
}

.mobile {
    display: block;
}

.textbig, .titlebig {
padding-left: 2vh;
padding-right: 2vh;
}

.fond {
    background:
        radial-gradient(at center, #bc2e41, #2c4e90);
}

.titlebig {
    padding-top: 320px;
    line-height: 40px;
    font-size: 45px;
}

}